<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Desmond</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="components/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet"/>
  <link href="components/fontawesome/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="components/sweetalert/lib/sweet-alert.css" rel="stylesheet"/>
  <link href="components/angular-layout/dist/angular-layout.min.css" rel="stylesheet"/>
  <link href="components/angular-layout/dist/angular-layout-debug.min.css" rel="stylesheet"/>
  <link href="css/main.css" rel="stylesheet"/>
</head>
<body vbox ng-app="Desmond" ng-controller="MainController as ctrl">

  <hbox>
    <div ng-file-drop grow="1" ng-repeat="account in ctrl.accounts.bankAccounts" class="drop-box"
        drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
        ng-file-change="ctrl.importFiles(account, $files)"
        multiple="true" allow-dir="false" accept="*.xls,application/pdf">
        <!-- Trascina qui l'estratto conto (pdf) o la lista movimenti (xls) di IWBank -->
        <img ng-src="{{account.avatarUrl}}" class="account" width="32" height="32" alt="{{account.description}}"/>
        {{account.name}}<br/>
        {{ctrl.movements.all | filter:{account:account} | total | number:2}} €<br/>
      <small class="text-muted">Trascina qui i documenti per importarli</small>
    </div>
  </hbox>

  <hbox>
    <vbox grow="1" class="main-box">
      <div class="panel panel-default filters">
        <div class="panel-body">
          Conto
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                    ng-class="{'btn-primary': ctrl.filters.account}">
              {{ctrl.filters.account ? ctrl.filters.account.name : 'Tutti'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="ctrl.filters.account = null">Tutti</a></li>
              <li class="divider"></li>
              <li ng-repeat="account in ctrl.accounts.bankAccounts">
                <a href="" ng-click="ctrl.filters.account = account">{{account.name}}</a>
              </li>
            </ul>
          </div>
          &emsp;
          Origine
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                ng-class="{'btn-primary': ctrl.filters.source}">
              {{ctrl.filters.source ? ctrl.filters.source.name : 'Tutte'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="ctrl.filters.source = null">Tutte</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="ctrl.filters.source = {name: 'Sconosciuta'}">Sconosciuta</a></li>
              <li class="divider"></li>
              <li ng-repeat="source in ctrl.sources">
                <a href="" ng-click="ctrl.filters.source = source">{{source.name}}</a>
              </li>
            </ul>
          </div>
          &emsp;
          Destinazione
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                ng-class="{'btn-primary': ctrl.filters.destination}">
              {{ctrl.filters.destination ? ctrl.filters.destination.name : 'Tutte'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="ctrl.filters.destination = null">Tutte</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="ctrl.filters.destination = {name: 'Sconosciuta'}">Sconosciuta</a></li>
              <li class="divider"></li>
              <li ng-repeat="destination in ctrl.destinations">
                <a href="" ng-click="ctrl.filters.destination = destination">{{destination.name}}</a>
              </li>
            </ul>
          </div>
          &emsp;
          Categoria
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                ng-class="{'btn-primary': ctrl.filters.category}">
              {{ctrl.filters.category ? ctrl.filters.category.name : 'Tutte'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="ctrl.filters.category = null">Tutte</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="ctrl.filters.category = {name: 'Non assegnata'}">Non assegnata</a></li>
              <li class="divider"></li>
              <li ng-repeat="category in ctrl.categories.all">
                <a href="" ng-click="ctrl.filters.category = category">{{category.name}}</a>
              </li>
            </ul>
          </div>
          &emsp;
          Tipo movimento
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                ng-class="{'btn-primary': ctrl.filters.direction}">
              {{ctrl.filters.direction ? (ctrl.filters.direction === 'in' ? 'Entrate' : 'Uscite') : 'Tutti'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="ctrl.filters.direction = null">Tutti</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="ctrl.filters.direction = 'in'">Entrate</a></li>
              <li><a href="" ng-click="ctrl.filters.direction = 'out'">Uscite</a></li>
            </ul>
          </div>
        </div>
      </div>
      {{ctrl.movements.all.length}} movimenti

      <div class="panel panel-selection" ng-show="ctrl.selectedItems.length > 0" ui-scrollfix>
        <div class="panel-body" hbox gap="15">
          <span>{{ctrl.selectedItems.length}} Selezionati</span>
          <button class="btn btn-default" ng-disabled="ctrl.selectedItems.length > 1">
            <i class="md md-edit md-lg"></i>
          </button>
          <button class="btn btn-default" ng-disabled="ctrl.selectedItems.length != 2">
            <i class="md md-call-merge md-lg" data-toggle="tooltip" title="Cinese che cammina"></i>
            Unisci
          </button>
          <div grow="1" class="text-right">
            <div class="btn btn-link" ng-click="ctrl.deselectAll()"><i class="md md-close md-lg"></i></div>
          </div>
        </div>
      </div>

      <table class="table table-bordered table-movements">
        <tr>
          <th><i class="md md-check md-lg"></i></th>
          <th>Conto</th>
          <th>Data</th>
          <th>Data Valuta</th>
          <th>Causale</th>
          <th>Categoria</th>
          <th>Importo (EUR)</th>
          <th></th>
        </tr>
        <tr ng-repeat="movement in ctrl.movements.all | filter:ctrl.movementsFilterFunction track by movement._id"
            ng-class="{replaceable: movement.replaceable, selected: ctrl.isSelected(movement)}">
          <td class="selection">
            <i class="md md-2x"
               ng-class="{'md-check-box-outline-blank': !ctrl.isSelected(movement), 'md-check-box': ctrl.isSelected(movement)}"
               ng-click="ctrl.toggleSelection(movement)"></i>
          </td>
          <td class="account">
            <img class="account" ng-src="{{movement.account.avatarUrl}}" width="32" height="32" alt="{{movement.account.description}}"/>
          </td>
          <td>{{movement.date.toDate()|date:'dd/MM/yyyy'}}</td>
          <td>{{movement.executionDate.toDate()|date:'dd/MM/yyyy'}}</td>
          <td>
            <span ng-bind-html="movement.description|nl2br"></span>
            <div ng-if="movement.replaceable" ng-file-drop class="drop-box"
                 ng-file-change="ctrl.replaceMovement(movement, $files[0])"
                 drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                 multiple="false" allow-dir="false" accept="{{ctrl.replaceable.accept}}">
              {{movement.replaceable.info}}
            </div>
          </td>
          <td>{{movement.category.name}}</td>
          <td class="amount">{{movement.amount | number:2}} €</td>
          <td class="direction">
            <div ng-if="movement.direction === 'in'">
              <i class="fa fa-arrow-left movement-in"></i>
              <img ng-if="movement.source" class="account" ng-src="{{movement.source.avatarUrl}}" width="50" height="50" alt="{{movement.source.name}}"/>
            </div>
            <div ng-if="movement.direction === 'out'">
              <i class="fa fa-arrow-right movement-out"></i>
              <img ng-if="movement.destination" class="account" ng-src="{{movement.destination.avatarUrl}}" width="50" height="50" alt="{{movement.destination.name}}"/>
            </div>
          </td>
        </tr>
      </table>
    </vbox>

    <vbox shrink="0" grow="0" class="text-center">
      <strong>Origine patrimonio</strong>
      <div id="incomingBySourceChartContainer">
      </div>
      <hr/>
      <strong>Categorie di spesa</strong>
      <div id="outgoingByCategoryChartContainer">
      </div>
    </vbox>
  </hbox>

  <script src="components/chartjs/Chart.js"></script>
  <script src="components/moment/min/moment-with-locales.min.js"></script>
  <script src="components/sweetalert/lib/sweet-alert.min.js"></script>
  <script src="components/jquery/dist/jquery.min.js"></script>
  <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="components/lodash/dist/lodash.min.js"></script>
  <script src="components/pdfjs-bower/dist/pdf.js"></script>
  <script src="components/js-xls/dist/xls.full.min.js"></script>
  <script src="components/papaparse.js/papaparse.min.js"></script>
  <script src="components/angular/angular.min.js"></script>
  <script src="components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="components/angular-ui-utils/ui-utils.min.js"></script>
  <script src="components/angular-layout/dist/angular-layout.min.js"></script>
  <script src="components/ng-file-upload/angular-file-upload.min.js"></script>
  <script src="components/angular-nl2br/angular-nl2br.min.js"></script>
  <script src="components/restangular/dist/restangular.min.js"></script>
  <script src="app/model.js"></script>
  <script src="app/service.js"></script>
  <script src="app/rules.js"></script>
  <script src="app/reader.js"></script>
  <script src="app/app.js"></script>
</body>
</html>