<!DOCTYPE html>
<html ng-app="Desmond">
<head lang="en" ng-controller="MetaController as ctrl">
  <base href="/">
  <meta charset="UTF-8">
  <title ng-bind="ctrl.meta.title">Desmond</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="lib/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet"/>
  <link href="lib/fontawesome/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="lib/sweetalert/lib/sweet-alert.css" rel="stylesheet"/>
  <link href="lib/angular-layout/dist/angular-layout.min.css" rel="stylesheet"/>
  <link href="lib/angular-layout/dist/angular-layout-debug.min.css" rel="stylesheet"/>
  <link href="css/main.css" rel="stylesheet"/>
</head>
<body vbox ng-controller="MainController as ctrl">

  <hbox>
    <div ng-file-drop grow="1" ng-repeat="account in ctrl.accounts.bankAccounts" class="drop-box"
        drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
        ng-file-change="ctrl.importFiles(account, $files)"
        multiple="true" allow-dir="false" accept="*.xls,application/pdf">
        <!-- Trascina qui l'estratto conto (pdf) o la lista movimenti (xls) di IWBank -->
        <img ng-src="{{account.avatarUrl}}" class="account" width="32" height="32" alt="{{account.description}}"/>
        {{account.name}}<br/>
        {{ctrl.movements.all | filter:{account:account} | total | number:2}} €<br/>
      <small class="text-muted">Trascina qui i documenti per importarli</small>
    </div>
  </hbox>

  <hbox>
    <vbox grow="1" class="main-box">
      <div class="panel panel-default filters">
        <div class="panel-body">
          Conto
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                    ng-class="{'btn-primary': ctrl.filters.account}">
              {{ctrl.filters.account ? ctrl.filters.account.name : 'Tutti'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="ctrl.filters.account = null">Tutti</a></li>
              <li class="divider"></li>
              <li ng-repeat="account in ctrl.accounts.bankAccounts">
                <a href="" ng-click="ctrl.filters.account = account">{{account.name}}</a>
              </li>
            </ul>
          </div>
          &emsp;
          Origine
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                ng-class="{'btn-primary': ctrl.filters.source}">
              {{ctrl.filters.source ? ctrl.filters.source.name : 'Tutte'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="ctrl.filters.source = null">Tutte</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="ctrl.filters.source = {name: 'Sconosciuta'}">Sconosciuta</a></li>
              <li class="divider"></li>
              <li ng-repeat="source in ctrl.sources">
                <a href="" ng-click="ctrl.filters.source = source">{{source.name}}</a>
              </li>
            </ul>
          </div>
          &emsp;
          Destinazione
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                ng-class="{'btn-primary': ctrl.filters.destination}">
              {{ctrl.filters.destination ? ctrl.filters.destination.name : 'Tutte'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="ctrl.filters.destination = null">Tutte</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="ctrl.filters.destination = {name: 'Sconosciuta'}">Sconosciuta</a></li>
              <li class="divider"></li>
              <li ng-repeat="destination in ctrl.destinations">
                <a href="" ng-click="ctrl.filters.destination = destination">{{destination.name}}</a>
              </li>
            </ul>
          </div>
          &emsp;
          Categoria
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                ng-class="{'btn-primary': ctrl.filters.category}">
              {{ctrl.filters.category ? ctrl.filters.category.name : 'Tutte'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="ctrl.filters.category = null">Tutte</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="ctrl.filters.category = {name: 'Non assegnata'}">Non assegnata</a></li>
              <li class="divider"></li>
              <li ng-repeat="category in ctrl.categories.all">
                <a href="" ng-click="ctrl.filters.category = category">{{category.name}}</a>
              </li>
            </ul>
          </div>
          &emsp;
          Tipo movimento
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                ng-class="{'btn-primary': ctrl.filters.direction}">
              {{ctrl.filters.direction ? (ctrl.filters.direction === 'in' ? 'Entrate' : 'Uscite') : 'Tutti'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="ctrl.filters.direction = null">Tutti</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="ctrl.filters.direction = 'in'">Entrate</a></li>
              <li><a href="" ng-click="ctrl.filters.direction = 'out'">Uscite</a></li>
            </ul>
          </div>
        </div>
      </div>
      {{ctrl.filteredMovements.length}} movimenti

      <div class="panel panel-selection" ng-show="ctrl.selectedItems.length > 0" ui-scrollfix>
        <div class="panel-body" hbox gap="15">
          <span>{{ctrl.selectedItems.length}} Selezionati</span>
          <button class="btn btn-default" ng-disabled="ctrl.selectedItems.length > 1">
            <i class="md md-edit md-lg"></i>
          </button>
          <button class="btn btn-default" ng-click="ctrl.deleteSelected()">
            <i class="md md-delete md-lg"></i> Elimina
          </button>
          <button class="btn btn-default" ng-disabled="ctrl.selectedItems.length != 2">
            <i class="md md-call-merge md-lg"></i> Unisci
          </button>
          <div grow="1" class="text-right">
            <a href ng-click="ctrl.selectedItems = []"><i class="md md-close md-lg"></i></a>
          </div>
        </div>
      </div>

      <desmond-movements-table movements="ctrl.filteredMovements"
                               selected-items="ctrl.selectedItems"
                               replace-movement-enabled="true"
                               on-replace-movement="ctrl.replaceMovement($movement, $file)">
      </desmond-movements-table>
    </vbox>

    <vbox shrink="0" grow="0" class="text-center">
      <strong>Origine patrimonio</strong>
      <div id="incomingBySourceChartContainer">
      </div>
      <hr/>
      <strong>Categorie di spesa</strong>
      <div id="outgoingByCategoryChartContainer">
      </div>
    </vbox>
  </hbox>

  <script src="lib/chartjs/Chart.js"></script>
  <script src="lib/moment/min/moment-with-locales.min.js"></script>
  <script src="lib/sweetalert/lib/sweet-alert.min.js"></script>
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="lib/lodash/dist/lodash.min.js"></script>
  <script src="lib/pdfjs-bower/dist/pdf.js"></script>
  <script src="lib/js-xls/dist/xls.full.min.js"></script>
  <script src="lib/papaparse.js/papaparse.min.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="lib/angular-ui-utils/ui-utils.min.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="lib/angular-layout/dist/angular-layout.min.js"></script>
  <script src="lib/ng-file-upload/angular-file-upload.min.js"></script>
  <script src="lib/angular-nl2br/angular-nl2br.min.js"></script>
  <script src="lib/restangular/dist/restangular.min.js"></script>
  <script src="app/component.js"></script>
  <script src="app/model.js"></script>
  <script src="app/service.js"></script>
  <script src="app/rules.js"></script>
  <script src="app/reader.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controller/meta_controller.js"></script>
  <script src="app/controller/main_controller.js"></script>
  <script src="app/controller/import_modal_controller.js"></script>
</body>
</html>