$color1 = #0D8ECF
$color2 = #48B040
$color3 = #B0DE09
$color4 = #FCD202
$color5 = #FF6600
$color6 = #CD0D74
$color7 = #9900FF

.modal-backdrop {
  bottom: 0;
}

.drop-box {

  padding: 20px
  border: dashed 1px #ccc

  &.dragover {
    border-style: solid
    background-color: greenyellow
  }
  &.dragover-err {
    border-style: solid
    background-color: red
  }

}

.main-box {
  //position: relative;
}

img.account {
  border-radius: 16px;
}

.fa.movement-in {
  color: #55bd00
}
.fa.movement-out {
  color: #bd0000
}

.panel .panel-body {
  padding: 10px 15px
}

.panel.panel-selection {
  position absolute
  left 0
  right 200px
  border 1px solid #ddd
  border-radius 0
  box-shadow none
  line-height 34px
  z-index 100

  .panel-body {
    padding-left 0

    a {
      display inline-block
      width 36px
      text-align center
    }
  }

  &.ui-scrollfix {
    position fixed
    top 0
    border-top-color white
  }
}

table.table-movements {
  tbody>tr>th {
    white-space nowrap
    padding-top 0
    padding-bottom 0
    line-height 54px
  }

  tr.replaceable > td {
    background-color: #fff884;
  }
  tr.selected > td {
    background-color: #d8ebf6 //#c8e5f6;
    border-color: #b4def6
  }

  tbody>tr>td {
    vertical-align middle
  }
  td.selection, th.selection {
    width 36px
    padding 0
    text-align center
  }
  td.selection i {
    cursor: pointer;
    line-height: 32px;
  }
  td.account, th.account {
    text-align: center;
  }
  td.amount, th.amount {
    text-align right
    white-space nowrap
  }
  td.direction {
    white-space nowrap
  }
}

.selectable-box {
  i {
    display: none;
  }
  &:hover, &.selectable-box-visible {
    img {
      display: none
    }
    i {
      display: inline-block
    }
  }
}