$color1 = #0D8ECF
$color2 = #48B040
$color3 = #B0DE09
$color4 = #FCD202
$color5 = #FF6600
$color6 = #CD0D74
$color7 = #9900FF

.drop-box {

  padding: 20px
  border: dashed 1px #ccc

  &.dragover {
    border-style: solid
    background-color: greenyellow
  }
  &.dragover-err {
    border-style: solid
    background-color: red
  }

}

img.account {
  border-radius: 16px;
}

.fa.movement-in {
  color: #55bd00
}
.fa.movement-out {
  color: #bd0000
}

table {
  tr.replaceable > td {
    background-color: #fff884;
  }
  tr.selected > td {
    background-color: #99cbe7;
  }
  td.account {
    text-align: center;
    & > div {
      cursor: pointer;
    }
    i {
      font-size: 28px;
      line-height: 34px;
    }
  }
}

.selectable-box {
  i {
    display: none;
  }
  &:hover {
    img {
      display: none
    }
    i {
      display: inline-block
    }
  }
}