.drop-box {

  padding: 20px
  border: dashed 1px #ccc

  &.dragover {
    border-style: solid
    background-color: greenyellow
  }
  &.dragover-err {
    border-style: solid
    background-color: red
  }

}

img.account {
  border-radius: 16px;
}

.fa.movement-in {
  color: #55bd00
}
.fa.movement-out {
  color: #bd0000
}