<vbox grow="1">
  <div id="header" shrink="0">
    <h2>Spese per categoria<!-- <i class="md md-arrow-drop-down"></i> --></h2>
  </div>

  <hbox shrink="0" style="height: 300px">
    <div id="outgoingByCategoryByMonthChartContainer" grow="1">

    </div>
    <div class="legend" ng-init="stat = ctrl.statistics.outgoingByCategoryByMonth" shrink="0" style="width: 200px">
      <ul>
        <li ng-repeat="category in stat.categories">
          <i class="md md-lens md-lg" ng-style="{color: category.color}"></i>
          {{category.name}}
        </li>
      </ul>
    </div>
  </hbox>

  <hbox grow="1">
    <vbox grow="1" class="main-box">
      <div class="panel panel-default filters" shrink="0" grow="0">
        <div class="panel-body">
          Conto
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                    ng-class="{'btn-primary': ctrl.filters.account}">
              {{ctrl.filters.account ? ctrl.filters.account.name : 'Tutti'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="ctrl.filters.account = null">Tutti</a></li>
              <li class="divider"></li>
              <li ng-repeat="account in ctrl.accounts.bankAccounts">
                <a href="" ng-click="ctrl.filters.account = account">{{account.name}}</a>
              </li>
            </ul>
          </div>
          &emsp;
          Origine
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                    ng-class="{'btn-primary': ctrl.filters.source}">
              {{ctrl.filters.source ? ctrl.filters.source.name : 'Tutte'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="ctrl.filters.source = null">Tutte</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="ctrl.filters.source = {name: 'Sconosciuta'}">Sconosciuta</a></li>
              <li class="divider"></li>
              <li ng-repeat="source in ctrl.sources">
                <a href="" ng-click="ctrl.filters.source = source">{{source.name}}</a>
              </li>
            </ul>
          </div>
          &emsp;
          Destinazione
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                    ng-class="{'btn-primary': ctrl.filters.destination}">
              {{ctrl.filters.destination ? ctrl.filters.destination.name : 'Tutte'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="ctrl.filters.destination = null">Tutte</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="ctrl.filters.destination = {name: 'Sconosciuta'}">Sconosciuta</a></li>
              <li class="divider"></li>
              <li ng-repeat="destination in ctrl.destinations">
                <a href="" ng-click="ctrl.filters.destination = destination">{{destination.name}}</a>
              </li>
            </ul>
          </div>
          &emsp;
          Categoria
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                    ng-class="{'btn-primary': ctrl.filters.category}">
              {{ctrl.filters.category ? ctrl.filters.category.name : 'Tutte'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="ctrl.filters.category = null">Tutte</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="ctrl.filters.category = {name: 'Non assegnata'}">Non assegnata</a></li>
              <li class="divider"></li>
              <li ng-repeat="category in ctrl.usedCategories">
                <a href="" ng-click="ctrl.filters.category = category">{{category.name}}</a>
              </li>
            </ul>
          </div>
          &emsp;
          Tipo movimento
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                    ng-class="{'btn-primary': ctrl.filters.direction}">
              {{ctrl.filters.direction ? (ctrl.filters.direction === 'in' ? 'Entrate' : 'Uscite') : 'Tutti'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="ctrl.filters.direction = null">Tutti</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="ctrl.filters.direction = 'in'">Entrate</a></li>
              <li><a href="" ng-click="ctrl.filters.direction = 'out'">Uscite</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div shrink="0">
        {{ctrl.filteredMovements.length}} movimenti
      </div>

      <div class="panel panel-selection" ng-show="ctrl.selectedItems.length > 0" ui-scrollfix>
        <div class="panel-body" hbox gap="15">
          <a href ng-click="ctrl.toggleAllSelection()">
            <i class="md md-lg"
               ng-class="{'md-check': ctrl.selectedItems.length < ctrl.filteredMovements.length, 'md-check-box': ctrl.selectedItems.length == ctrl.filteredMovements.length}"></i>
          </a>
          <span>{{ctrl.selectedItems.length}} Selezionati</span>
          <button class="btn btn-default" ng-disabled="ctrl.selectedItems.length < 2" ng-click="ctrl.mergeSelected()">
            <i class="md md-call-merge md-lg"></i> Unisci
          </button>
          <button class="btn btn-default" ng-click="ctrl.deleteSelected()">
            <i class="md md-delete md-lg"></i> Elimina
          </button>
          <div grow="1" class="text-right">
            <a href ng-click="ctrl.selectedItems = []"><i class="md md-close md-lg"></i></a>
          </div>
        </div>
      </div>

      <desmond-movements-table movements="ctrl.filteredMovements"
                               selected-items="ctrl.selectedItems"
                               replace-movement-enabled="true"
                               on-replace-movement="ctrl.replaceMovement($movement, $file)"
                               edit-enabled="true"
                               on-edit="ctrl.editMovement($movement)">
      </desmond-movements-table>
    </vbox>

    <vbox shrink="0" grow="0" class="text-center" style="display: none">
      <strong>Origine patrimonio</strong>
      <div id="incomingBySourceChartContainer">
      </div>
      <hr/>
      <strong>Categorie di spesa</strong>
      <div id="outgoingByCategoryChartContainer">
      </div>
    </vbox>
  </hbox>
</vbox>