<vbox grow="1" id="monthView">

  <div id="header" shrink="0">
    <h2><a ui-sref="home">Spese per categoria</a> <i class="md md-chevron-right md-lg"></i> {{ctrl.month}}</h2>
  </div>

  <hbox grow="1">

    <vbox shrink="0" class="categories">
      <div ng-repeat="category in ctrl.categories"
           ng-style="{flexGrow: category.monthTotal/ctrl.total, backgroundColor: category.color}">
        {{category.name}} <!-- {{category.monthTotal}}/{{ctrl.total}} -->
      </div>
    </vbox>

    <div class="funnel" shrink="0"></div>

    <vbox grow="1" class="main-box">
      <desmond-movements-table movements="ctrl.filteredMovements"
                               selected-items="ctrl.selectedItems"
                               replace-movement-enabled="true"
                               on-replace-movement="ctrl.replaceMovement($movement, $file)"
                               edit-enabled="true"
                               on-edit="ctrl.editMovement($movement)"
                               fixed-header>
      </desmond-movements-table>
    </vbox>

  </hbox>

</vbox>