.modal-header {
  a {
    i.md-2x {
      line-height 1.3em
    }
    color #ccc
    &:hover {
      color $text-color
    }
    &:active {
      color #666
    }
  }
}

.modal-backdrop {
  bottom: 0;
}

.modal-dialog .modal-body {
  padding 0

  form {
    padding 15px
  }
}